<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <event-sheet>Menu-Events</event-sheet>
    <size>
        <width>1024</width>
        <height>768</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Layer 0">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Pile2">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>352</x>
                        <y>186</y>
                        <z>0</z>
                        <width>216</width>
                        <height>255</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.501960814</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Pile3">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>814</x>
                        <y>215</y>
                        <z>0</z>
                        <width>318</width>
                        <height>218</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Pile1">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>645</x>
                        <y>478</y>
                        <z>0</z>
                        <width>550</width>
                        <height>310</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="PileOfComputers">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>193</x>
                        <y>538</y>
                        <z>0</z>
                        <width>383</width>
                        <height>458</height>
                        <depth>0</depth>
                        <hotspotX>0.500590324</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="OblacekMenu">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>756</x>
                        <y>195</y>
                        <z>0</z>
                        <width>386</width>
                        <height>326</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="BoxButton">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <BoxNumber>3</BoxNumber>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>Yes</active-at-start>
                                <fade-in-time>0</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>0</fade-out-time>
                                <destroy>No</destroy>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Physics">
                            <properties>
                                <immovable>No</immovable>
                                <collision-mask>Use collision polygon</collision-mask>
                                <prevent-rotation>Yes</prevent-rotation>
                                <density>0.1</density>
                                <friction>0.4</friction>
                                <elasticity>0.3</elasticity>
                                <linear-damping>0</linear-damping>
                                <angular-damping>0.01</angular-damping>
                                <bullet>No</bullet>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>815</x>
                        <y>-24</y>
                        <z>0</z>
                        <width>150</width>
                        <height>80</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="BoxButton">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <BoxNumber>2</BoxNumber>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>Yes</active-at-start>
                                <fade-in-time>0</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>0</fade-out-time>
                                <destroy>No</destroy>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Physics">
                            <properties>
                                <immovable>No</immovable>
                                <collision-mask>Use collision polygon</collision-mask>
                                <prevent-rotation>Yes</prevent-rotation>
                                <density>0.1</density>
                                <friction>0.3</friction>
                                <elasticity>0.3</elasticity>
                                <linear-damping>0</linear-damping>
                                <angular-damping>0.01</angular-damping>
                                <bullet>No</bullet>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>861</x>
                        <y>-114</y>
                        <z>0</z>
                        <width>150</width>
                        <height>80</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="BoxButton">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <BoxNumber>1</BoxNumber>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>Yes</active-at-start>
                                <fade-in-time>0</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>0</fade-out-time>
                                <destroy>No</destroy>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Physics">
                            <properties>
                                <immovable>No</immovable>
                                <collision-mask>Use collision polygon</collision-mask>
                                <prevent-rotation>Yes</prevent-rotation>
                                <density>0.1</density>
                                <friction>0.35</friction>
                                <elasticity>0.2</elasticity>
                                <linear-damping>0</linear-damping>
                                <angular-damping>0.01</angular-damping>
                                <bullet>No</bullet>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>911</x>
                        <y>-204</y>
                        <z>0</z>
                        <width>150</width>
                        <height>80</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Screen2">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>No</active-at-start>
                                <fade-in-time>0.2</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>0.2</fade-out-time>
                                <destroy>No</destroy>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>136</x>
                        <y>600</y>
                        <z>0</z>
                        <width>97</width>
                        <height>75</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.500633717</hotspotY>
                        <angle>0.160942629</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Screen1">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>No</active-at-start>
                                <fade-in-time>0.2</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>0.2</fade-out-time>
                                <destroy>No</destroy>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>230</x>
                        <y>462</y>
                        <z>0</z>
                        <width>115</width>
                        <height>87</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>1.131045222</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="MenuComputer">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>557</x>
                        <y>617</y>
                        <z>0</z>
                        <width>268</width>
                        <height>233</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.500461698</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Screen3">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>No</active-at-start>
                                <fade-in-time>0.3</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>0.3</fade-out-time>
                                <destroy>No</destroy>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>552</x>
                        <y>579</y>
                        <z>0</z>
                        <width>70</width>
                        <height>69</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0.303661287</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Mozicelj">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Physics">
                            <properties>
                                <immovable>No</immovable>
                                <collision-mask>Use collision polygon</collision-mask>
                                <prevent-rotation>Yes</prevent-rotation>
                                <density>0.1</density>
                                <friction>0.35</friction>
                                <elasticity>0.1</elasticity>
                                <linear-damping>0</linear-damping>
                                <angular-damping>0.01</angular-damping>
                                <bullet>No</bullet>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>417</x>
                        <y>-167</y>
                        <z>0</z>
                        <width>551.044616699</width>
                        <height>386.042541504</height>
                        <depth>0</depth>
                        <hotspotX>0.500976563</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="BiText">
                    <properties>
                        <text>Binarna števila</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>No</active-at-start>
                                <fade-in-time>1</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>0</fade-out-time>
                                <destroy>No</destroy>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>858</x>
                        <y>417</y>
                        <z>0</z>
                        <width>200</width>
                        <height>30</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="CRCText">
                    <properties>
                        <text>Iskanje napak</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>No</active-at-start>
                                <fade-in-time>1</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>0</fade-out-time>
                                <destroy>No</destroy>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>813</x>
                        <y>507</y>
                        <z>0</z>
                        <width>200</width>
                        <height>30</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SortText">
                    <properties>
                        <text>Sortiranje</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>No</active-at-start>
                                <fade-in-time>1</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>0</fade-out-time>
                                <destroy>No</destroy>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>778</x>
                        <y>607</y>
                        <z>0</z>
                        <width>200</width>
                        <height>30</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="TextCloud">
                    <properties>
                        <text>Text</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Berlin Sans FB,-19,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>643</x>
                        <y>99</y>
                        <z>0</z>
                        <width>261</width>
                        <height>144</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Ground">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Physics">
                            <properties>
                                <immovable>Yes</immovable>
                                <collision-mask>Use collision polygon</collision-mask>
                                <prevent-rotation>No</prevent-rotation>
                                <density>1</density>
                                <friction>0.5</friction>
                                <elasticity>0.2</elasticity>
                                <linear-damping>0</linear-damping>
                                <angular-damping>1</angular-damping>
                                <bullet>Yes</bullet>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>552</x>
                        <y>581</y>
                        <z>0</z>
                        <width>295</width>
                        <height>245</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>-3.139338493</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Ground">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Physics">
                            <properties>
                                <immovable>Yes</immovable>
                                <collision-mask>Use collision polygon</collision-mask>
                                <prevent-rotation>No</prevent-rotation>
                                <density>1</density>
                                <friction>0.5</friction>
                                <elasticity>0.2</elasticity>
                                <linear-damping>0</linear-damping>
                                <angular-damping>1</angular-damping>
                                <bullet>Yes</bullet>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>848</x>
                        <y>647</y>
                        <z>0</z>
                        <width>295</width>
                        <height>133</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>3.141591549</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Ground">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Physics">
                            <properties>
                                <immovable>Yes</immovable>
                                <collision-mask>Use collision polygon</collision-mask>
                                <prevent-rotation>No</prevent-rotation>
                                <density>1</density>
                                <friction>0.5</friction>
                                <elasticity>0.2</elasticity>
                                <linear-damping>0</linear-damping>
                                <angular-damping>1</angular-damping>
                                <bullet>Yes</bullet>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1065</x>
                        <y>547</y>
                        <z>0</z>
                        <width>295</width>
                        <height>133</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>3.141591549</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Ground">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Physics">
                            <properties>
                                <immovable>Yes</immovable>
                                <collision-mask>Use collision polygon</collision-mask>
                                <prevent-rotation>No</prevent-rotation>
                                <density>1</density>
                                <friction>0.5</friction>
                                <elasticity>0.2</elasticity>
                                <linear-damping>0</linear-damping>
                                <angular-damping>1</angular-damping>
                                <bullet>Yes</bullet>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1118</x>
                        <y>452</y>
                        <z>0</z>
                        <width>295</width>
                        <height>133</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>3.141591549</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
